<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-energized">
      <h1 class="title">Options</h1>
    </header>
    <ion-content class="has-header">
      <ion-list >
        <ion-item nav-clear menu-close href="#/tab/charts/plannedVSactual" class="item-icon-left">
         <i class="icon  ion-document"></i> Planned Vs Actual
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/charts/expensesbycategory" class="item-icon-left">
          <i class="icon  ion-document-text"></i>Expenses By Category
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>