
<ion-view view-title="Edit Task">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-trash-b" ng-click="showConfirm()"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" ng-model="task.name" placeholder="Chalet">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <textarea  type="text" ng-model="task.description" placeholder=""></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Budget</span>
      <input  type="text" placeholder="898453" ng-model="task.budget">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Start Date</span>
      <input type="date" placeholder="25/06/2015" ng-model="task.startdate">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">End Date</span>
      <input type="date" placeholder="10/01/2016" ng-model="task.enddate">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Assigned To</span>
      <div>
      <span class="input-label">{{getEmployeeName(task.assignedTo)}}</span>
      </div>
      <div>
      <select style="width:100%;border:none;background-color:white" class="button-light"  ng-model="task.assignedTo" ng-options="employee.name for employee in employees">
      </select>
    </div>
    </label>
  </div>
  <div class="pull-right" style="text-align:center">
  <button class="button button-positive pull-right" ng-click="submitedit()">
  Submit
</button>

  </div>
  <div style="text-align:center">
    <label class="{{fontcolor}}">{{responseMessage}}</label>
  </div>

  </ion-content>
</ion-view>
