
<ion-view view-title="Edit Users" cache-view="false">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list>
      <ion-item class="item-remove-animate item-divider-calm item-icon-right" ng-repeat="employee in employees" type="item-text-wrap" href="#/tab/account/editUsers/{{employee._id}}">
        <h2>{{employee.name}}</h2>
        <p>{{employee.phone}}</p>
        <p>{{employee.username}}</p>
        <p>{{employee.emailId}}</p>
        <i class="icon ion-chevron-right  icon-accessory"></i>
        <!--<div class="button-bar  button-clear">
          <a class="button button-large button-clear button-energized" href="#/tab/projects/edit/{{project._id}}"><i class="ion-edit"></i></a>
           <a class="button button-large button-clear button-assertive" ng-click="delete(project._id,$index)"><i class="ion-trash-b"></i></a>
        </div>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
